{% extends 'Base.html'%}
{% load crispy_forms_tags %}




{% block content %}
<h1 class="text-center">Make an Appointment</h1>
<hr>
<div class="container w-25 bg-primary ">
   <form   align="center" action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <button class="btn btn-secondary  mb-3"type="submit" onclick="btn_alert()">SUBMIT</button>
   </form>
   <script>
      function btn_alert(){
       alert("successfully placed an appointment");}
   </script>
</div>
{% endblock %}

